*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

h1, h2 {
    text-align: center;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button {
    background-color: blueviolet;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
    cursor: pointer;
}

button:hover {
    background-color: rgb(70, 42, 96);
}

.message {
    background-color: blueviolet;
    padding: 8px;
    color: white;
    display: none;
}